
@import url('https://fonts.googleapis.com/css2? family=Lato:wght@100;300;400&family=Raleway:ital@0;1&display=swap');
:root {
    --first-color: #025f74;
    --first-alpha-color:rgba(30, 80, 207, 0.5);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color:  #025f74;
    --white-color: #f1f1f1;
    --third-pink-color: #376974;
    --four-color:  #037f9b;
    
}

body{
    background-color:#f1f1f1;
    font-family: 'Raleway', sans-serif;
}
.contenedor{
    width: 1280 px;
    margin: 1% 5% auto;
    text-align: center;

}

/*navegador*/
.nav_principal{
    background-image:linear-gradient(to right,rgba(159, 243, 243, 0.5), #037f9b 180%); 
    text-align: right;     
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    
}

.nav_principal a:hover{
  border-top: thin solid var(--four-color);
  border-bottom: thin solid var(--four-color);
  background-color:rgba(159, 243, 243, 0.5);
}
.nav_principal a:active{
  background-color:rgba(116, 241, 241, 0.5);
}

.nav_principal a {
    text-decoration: none;
    color: rgba(20, 25, 45, 0.75);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
/* Pagina Inicio*/
.img_inicio{
    min-height: 90vh;
    min-width: 50vh;    
    background:url(../img/star-azul\ verdoso.jpeg) no-repeat fixed;
    background-size:cover;
    padding-top: 0.2%;
    margin-top: 0.5%;
    opacity: 0.8;
    border-bottom: 10% ;
   /*
    width: 150%;
    height: 42rem;    
    opacity: 0.8;
    padding-top: 1%;
    border-radius: 10px;  */   
     
}
.bienvenida{
   
}

.bienvenida .saludo2{
  position: absolute; 
  color: rgba(20, 25, 45, 0.75); 
  font-size: 200%;
  top:47%;
  left: 30%;
}

.bienvenida .nombre{
  position: absolute;
  font-size: 500%;
  background: radial-gradient(rgba(30, 80, 207, 0.5), #14192d, black);
  top:50%;
  left: 40%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
}

.bienvenida .sitio{
  position: absolute; 
  color: #14192d; 
  font-size: 200%;
  top:63.5%;
  left: 38%;
}


.saludo{
    font-family: Oswald, Arial;    
    width: 20%;
    height: 150 px;
    padding: 1%;
    font-size: 200%;
    text-align: center;
    background-color:rgba(159, 243, 243, 0.5); 
    position: absolute;
    top:17%;
    left: 22%;
    color:rgba(20, 25, 45, 0.75); 
    border-radius: 10px;
    border: solid #f1f1f1;
   border-width: 0px 0px 3px 3px;
}
/*reloj de inicio*/
.relojPosicion{
    position: absolute;
    top: 6%;
    left: 40%;
    right: 0;   
    height: 40%;

}
.wrap{
    width: 30%;
    max-width: 30%;
    margin-top: 10%;
    margin-left: 50%;
    border-radius: 10%;
    
  }
  .widget{
    width: 70%;
    margin: 0;
     
  }
  .widget p{
    display: inline-block;
    line-height: 75%;
  }
  .fecha{
    font-family: Oswald, Arial;
      text-align: center;
      font-size: 80%;
      margin-bottom: 5%;
      background:rgba(199, 243, 243, 0.5);
      padding-right: 10%;
      padding-left: 5%;
      width: 100%;
      border-radius:  50% 50% 0% 0%; 
      border: solid #f1f1f1;
      border-width: 3px 3px 0px 0px;
  }
  
  .reloj{
    font-family: Oswald, Arial;
    width: 100%;
    padding: 0% 10% 10% 5%;
    font-size: 100%;
    text-align: center;
    background-color:rgba(30, 80, 207, 0.5);
    color:#f1f1f1; 
    border-radius:0% 0% 30% 30%;  
    border: solid #f1f1f1;
    border-width: 0px 0px 3px 3px;
    
  
  }
  
   .reloj .caja-segundos{
    
    display: inline-block;
    
  }
  .reloj .segundos,
  .reloj .ampm {
    
    font-size:80%;
    display: block;
    margin: 0% 0% 10% 0%;
  }
  .reloj_contenedor{
    margin-left: 30%;
   
    
  }
  /*Titulos*/
.gridTitulos{
    display: grid;
    grid-template-columns: repeat(2,50%);    
    text-align: right;
}
.titulo{    
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    width: 250px;
    text-align: center; 
    margin-left:80%;
    margin-top: 5%;
    padding: 1% 0 1% 0;
  
    
}
.titulo2{    
    border-top: thin solid var(--white-color);
    border-bottom: thin solid var(--white-color);
    width: 250px;
    text-align: center; 
    margin-left:80%;
    margin-top: 5%;
    padding: 1% 0 1% 0;
    color: rgba(20, 25, 45, 0.75);   
    
}
.volver{    
    font-size: 40px;    
    margin: 5% 5% 0 25%;
}
/*Pagina de resumen*/
.resumenCV{
    display: grid;
    grid-template-columns: repeat(3,33%);
    justify-content: space-between;
    align-content: center;
    color: black;
    padding: 5%;
}
.presentacion{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    padding: 5%;
    color: #01313c;
}
.fotoPerfil{   
    width: 80%;
    height: 60%;
    display: block;
    margin: 0px auto;
    border-radius: 50%;
}
.fotoPerfil2{  
  position: absolute; 
  top:51%;
  left: 10%;
  width: 20%;
  height: 40%; 
  border-radius: 50%;
}
.capaDeFoto{  
  position: absolute;
  width: 30%;
  height: 350px;
  top:50%;
  left: -20%;  
  background-color:rgba(199, 243, 243, 0.5);   
  -webkit-box-shadow: 10px 10px 5px 0px  #1e5797;
  -moz-box-shadow: 10px 10px 5px 0px #1e5797;
  box-shadow: 10px 10px 5px 0px  #1e5797;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 0% 50% 50% 0%;
  text-align: center;
  color: rgb(248, 245, 245);
  padding-top: 1rem;
  border: solid #f1f1f1;
  border-width: 3px 0px 0px 0px;
}
.habilidades{
    padding: 5%;
    text-align: left;
    color: #01313c;
}
.progress{
    width: 100%;
    height: 3rem;
}

/*GALERIA DE PROYECTOS*/
.galeria{
    display: grid;
    grid-template-columns: repeat(3,33%);
    column-gap: 1rem;
    row-gap: 1rem;
    
}

.portfolio-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    
  }
  
  .portfolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .portfolio-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 93%;
    height: 92%;
    padding: 1rem;
    background-color: var(--first-alpha-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }
  
  .portfolio-card:hover .portfolio-card-info {
    opacity: 1;
    pointer-events: auto;
  }
  
  .portfolio-card-info > div {
    padding: 1rem;
    border: thin solid var(--white-color);
    width: 93%;
    height: 92%;
  }
/*Pagina de Contacto*/
.contact-card{
    display: flex;
    flex-direction:row;    
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 1rem auto;
    padding: 1rem;
   
}
.cajacontacto{
    width: 98%;
    height: 144px;     
    background-color:rgba(30, 80, 207, 0.5);   
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    text-align: center;
    color: rgb(248, 245, 245);
}
.fondoContacto{
    min-height: 100vh;
    min-width: 50vh;    
    background:url(../img/star-azul.jpg) no-repeat fixed;
    background-size:cover;
    padding-top: 0.2%;
    margin-top: 5%;
    
}

.cajaformulario{
    width: 50%;
    height: 400px;     
    background-color:rgba(30, 80, 207, 0.5);   
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    text-align: center;
    color: rgb(248, 245, 245);
    padding-top: 1rem;

}

.campo__field{    
    width: 39%;
    height: 50px;    
    border: solid 1px #ccc;
    outline: none;     
    margin-top: 1rem;
    margin-bottom: 1rem;
        
}
.campo__textarea{
    width: 80%;
    height: 150px;
    border: solid 1px #ccc;
    outline: none;    
    margin-top: 1rem;
    margin-bottom: 1rem;
        
}
.campo__field:hover{
    border-color: #1e5797;
}
.campo__textarea:hover{
    border-color:  #1e5797;

}
/*boton de formulario y botones*/

.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(199, 243, 243, 0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    border: solid #f1f1f1;
    border-width: 0px 0px 3px 3px;
    outline: none;
}
.btn-green{  
  color:white;
  background-color:#1e5797;
}
.btn-green2{ 
  border-radius: 10px; 
  font-size: 40px;
  position: absolute;
  top: 75%;
  left: 51%;
  color:white;
  background-color:rgba(30, 80, 207, 0.5);
}
.btn-green:hover{
    background-color: #4696f1;
}
.btn-green2:hover{
  background-color: #4696f1;
}
.btn-green:active{
    background-color:#082a52; 
}
/*REFERENCIAS*/
.img_referencias{ 
  position: absolute;
  left: 5%;  
  width: 90%;
  height: 42rem;    
  opacity: 0.5; 
  border-radius: 10px;   
}
/* ********** Carousel ********** */
@keyframes carousel-slide {
    0% {
      transform: translateX(0%);
    }
  
    25% {
      transform: translateX(-25%);
    }
  
    50% {
      transform: translateX(-50%);
    }
  
    75% {
      transform: translateX(-75%);
    }
  }
  
  .carousel {
   
    margin: 2rem auto;
    padding: 2rem 0;
    max-width: 800px;
    text-align: center;
    overflow-x: hidden;
    
  }
  
  .carousel .slides {
    padding-left: 0;
    /* 100% por cada slide */
    width: 400%;
    display: flex;
    list-style: none;
    transition: transform 1s ease-in-out;
    animation: carousel-slide 15s ease-in-out 3s;
    
  }
  
  .carousel input {
    display: none;
  }
  
  .carousel label {
    border: medium solid var(--third-color);
    border-radius: 50%;
    margin: 0 0.25rem;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
    position: relative;
  }
  
  .carousel blockquote {
    max-width: 800px;
    text-align: center;
  }
  
  #slide-1:checked ~ .slides {
    transform: translateX(0%);
    
  }
  
  #slide-2:checked ~ .slides {
    transform: translateX(-25%);
   
  }
  
  #slide-3:checked ~ .slides {
    transform: translateX(-50%);
  
  }
  
  #slide-4:checked ~ .slides {
    transform: translateX(-75%);
   
  }
  
  #slide-1:checked ~ .slides-nav label#dot-1,
  #slide-2:checked ~ .slides-nav label#dot-2,
  #slide-3:checked ~ .slides-nav label#dot-3,
  #slide-4:checked ~ .slides-nav label#dot-4 {
    background-color: var(--third-pink-color);
   
    }
  
/*FOOTER*/
footer{
    background-color:#082a52; 
    text-align: center;     
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 1%;        
    
}

footer a {
    text-decoration: none;
    color: rgb(253, 253, 251);
    padding-left: 2%;
    padding-right: 2%;
}

footer p{
    background-color: #1e5797;
    text-decoration: none;
    color: rgb(253, 253, 251);
    padding-left: 2%;
    padding-right: 2%;
    font-size: 15px;
  
}

/*responcively*/
@media screen  and (max-width: 800px){
    .saludo{
        width:60%;
        height: 80px;
        font-size: 150%;
        left: 15%;
        right: 15%;
        top:25%;

    }
    .bienvenida{
        top: 40%;
        left: 10%;
        right: 10%;
        font-size: 120%;

    }
    
    .resumenCV{
        grid-template-columns: repeat(1,100%);
    }
    .galeria{
        grid-template-columns: repeat(1,98%);
    }  
    .portfolio-card-info { 
        font-size: 70%;
        padding: 0% 7% 5% 0%;
    }

    .contact-card {
        flex-direction: column;
        margin: 0% 5% 0% 5%;
    }
    .cajaformulario{
        width: 80%;
        margin-left: 10%;        
    }
    .fecha{  
        padding: 1% 10% 1% 10%;      
        font-size: 80%;
    }
    .reloj{
        padding: 1% 10% 1% 10%; 
        
    }
    
    .reloj_contenedor{
        margin-left: 0%;
    }    
    
    .relojPosicion{
        top:70%;
        left: 10%;
        width: 120%;
    }
    .titulo,.titulo2{     
       margin: 10% auto;
    }
      
    .carousel {     
      width: 90%;  
    }
    .carousel blockquote {
      width: 90%;
    }
    .avatar{
      width: 90%;
    }

}

    

