.galeria1{
    display: flex;
    width:100%;/*600 ancho visible*/
    height: 10%;/*430*/
  
  }
  .galeria1 img{
    width: 0px;
    flex-grow: 10; /*que ocupe todo el espacio que pueda*/
   object-fit: cover;/*que ocupe todo el espacio*/
   opacity: 0.8;
   transition: 0.5s ease;
  }
  .galeria1 img:hover{
    cursor: crosshair; /*cambio cursor por cruz*/
    width:30%;/*300*/
    opacity: 1;
    filter: contrast(120%); /*Subir el contraste*/
  }
  